@import url("normalize.css");

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
}

.logo {
    width: 125px;
    height: 142px;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 30px;
    left: 30px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__links {
    list-style: none;
    padding-left: 0;
    margin: 30px 80px 0px 0px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link:hover {
    color: #2F80ED;
}

.header__title {
    margin: 252px 0px 28px 80px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    background: transparent;
}

.header__span-accent {
    display: block;
    color: #2F80ED;
    font-family: 'Noto Serif', Times, sans-serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
}

.header__description {
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 0px 80px;
}

.header__background-image {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 5px;
}

.header__paragraphs {
    bottom: 40px;
    display: flex;
    flex: auto 0;
    min-height: 250px;
    justify-content: space-between;
}

.header__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    align-self: flex-end;
}

.header__paragraph_content_hours {
    margin-left: 80px;
    justify-content: flex-start;
}

.header__paragraph_content_address {
    margin-right: 80px;
    justify-content: flex-end;
}

.menu {
    background: #0a2750;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1600px;
}

.menu__background-image, .recipes__background-image, .reservation__background-image {
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.menu__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
    max-width: 780px;
    margin-top: 100px;
    margin-bottom: 0px;
    z-index: 2;
}

.menu__subtitle {
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 780px;
    margin-top: 24px;
    text-align: center;
    z-index: 2;
}

.menu__cards {
    z-index: 3;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 1300px;
}

.card {
    max-width: 600px;
    width: 100%;
}

.card__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.card__list-item {
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 16px;
    flex-grow: 1;
}

ul {
    padding-left: 0px;
}

.card__list-divider {
    border-bottom: 1px solid #FFFFFF;
    flex-grow: 2;
}

.recipes {
    margin-left: 80px;
}

.recipes__title {
    max-width: 580px;
    margin-top: 100px;
    margin-bottom: 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    height: 80px;
}

.recipes__subtitle {
    max-width: 438;
    margin-top: auto;
    margin-bottom: 80px;
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 20px;
    line-height: 30px;
    height: 80px;
}

.recipes__videos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 215px;
}

.recipes__iframe {
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.recipes__video-caption {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.recipes__title, .recipes__subtitle, .recipes__videos, .recipes__video-caption {
    z-index: 3;
}

iframe {
    border: 0px;
}

.recipes__background-image {
    background-size: cover;
}

.reservation {
    background: #D9E7FF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reservation__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    z-index: 2;
    margin-top: 100px;
    margin-bottom: 0px;
}

.reservation__form {
    z-index: 2;
    margin-top: 80px;
    margin-bottom: 120px;
    max-width: 385px;
    width: 100%;
}

.form__fieldset {
    margin-top: 0px;
    margin-bottom: 32px;
    border: none;
}

.form__label {
    margin-bottom: 8px;
    display: block;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.form__input, .form__button {
    border-radius: 4px;
    width: 100%;
    border: none;
    height: 60px;
    padding: 0px 15px 0px 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__button {
    background-color: #2F80ED;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.form__button:hover {
    opacity: 70%;
}

input::placeholder {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__checkbox {
    border-radius: 2px;
    background-color: #2F80ED;
    background-image: url(/images/check.svg);
}

.form__label[for="agree-to-t&c"] {
    display: inline;
    margin-left: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.about {
    padding: 100px 80px;
    background-color: #0a2750;
    color: #fff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }

.about__title {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 52px;
    color: #FFFFFF;
    max-width: 251px;
    width: 100%;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about__circle {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
    z-index: 1;
  }

.about__content {
    margin: 19px 0px 73px 0px;
    max-width: 660px;
    width: 100%;
}

.about__paragraph {
    font-family: 'Noto Serif', Times, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

@keyframes pulsate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: scale(1.15);
    }
}

.about__circle_animation_blurred {
    animation-name: pulsate;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    padding: 60px 100px 60px 80px;
}
  
  .footer__columns {
    display: flex;
    color: white;
    min-height: 224px;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footer__column {
    margin: 0;
    padding: 0;
  }
  
  .footer__column_content_social {
    margin-left: 100px;
  }
  
  .footer__logo {
    height: 21px;
    width: 116px;
  }
  
  .footer__list {
    /* The code below removes the default browser styles for lists */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__list-item {
    margin-bottom: 16px;
  }
  
  .footer__column-heading {
    margin: auto;
    margin-bottom: 20px;
  }
  
  .footer__column-link {
    color: white;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
  
  .footer__column-link:hover {
    color: #c1c1c1;
  }
  
  .footer__social-icon {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }
  
  .footer__copyright {
    color: #fff;
    margin-bottom: auto;
  }